*{
    margin: 0px;
    padding: 0px;
}
.bg-img{
    background-image: url('../images/live-chat-8f967f57f8.jpg');
    
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center;
    padding: 150px 0;
    text-shadow: 1px 1px 0 #000;
}
.heading{
    font-size: 3rem;
    /* line-height: 6rem; */
}
.par:hover{
    color: #000 !important;
}
.parag{
    font-size: 20px;
    margin: 0px;
}
button{
    margin-top: 40px;

}

.mb-40 {
    margin-bottom: 35px!important;
}
.but{
    background-color: #ff4546 !important;
    border: 1px solid #ff4546 !important;
}
.but:hover{
    background-color: red !important;
}
.section2{
  min-height: 100vh;
  align-items: center;
}
.fs-20-md{
    font-size: 20px;
}
.fw-400{
    font-weight: 400;
}
.anchor-tag:hover{
    background-color: darkgray !important;
}
.fi{
    font-size: 48px;
}
.img-tag{
    background-image: url('../images/we-save-time-df9f042e9a.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    text-shadow: 1px 1px 0 #000;
}
.p-6{
    padding-inline: 320px !important;
}
.pr-50{
    padding-block:14px ;
    padding-right: 270px !important;
    padding-left: 13px;
}
.mb-50{
    margin-bottom: 50px;
    margin-right: 60px;
}
.inquary-form{
    /* display:none */
    padding: 40px;
}
.btn-clr{
    background-color: #ff4546 !important;
    border: 1px solid #ff4546 !important;
}
.btn-clr:hover{
    background-color: red !important;
}
.ts-30{
    font-size:45px;
}
.fs-22{
    font-size: 22px;
    padding-bottom: 25px;
}
.bg-color{
    background-color: #f7f7f7;
}
.ml-10{
    margin-left: -13px !important;
}
.inquiry-form{
    padding: 40px;
    display: none ;
    text-align: center;
}
.fw-300{
    font-weight: 300;
}
.fs-18{
    font-size: 18px;
}
.mb-20{
    margin-bottom: 20px;
}
.mr-10{
    margin-right: 10px;
}
.enquiry-form .form-control{
    padding: 17px !important;
    height: max-content !important;
}
.enquiry-form textarea{
    height: 200px  !important;
}
.btn-size{
    padding: 9px !important;
    padding-inline: 20px !important;
    margin-left: 180px;
}
.text-d{
    margin-bottom: 50px;
}
.fs-10{
    font-size: 14px;
}
.txt-clr{
    color:rgba(103, 71, 199, 0.98);
}
